h1{
    
    font-size: 50px;
    padding-inline-end: 1%;
    margin-bottom:  2%;
}
h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
}
body{
    font-family: 'Poppins', sans-serif;

}
.name-highlight{
    color:lightcoral;
    padding-top: 0%;
}
.para-highlight{
    color: rgba(56, 56, 224, 0.877);
}
.half-width{
width: 40%;
float: left;
 margin-left: 5%;
 padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( 45deg, lightcoral,rgb(146, 38, 19));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
}
.working-experience{
    margin-top: 3%;
    padding: 2%;
    width: 100%;
    float: left;
    clear: left;
    background-color: white;
    text-align: center;
}
.project-box{
    width: 25%;
    float:left;
    padding: 2%;
    border-radius: 9px;
    border: 1px solid gray;
    margin-left: 3%;
}
.project-box img{
    width: 100%;
    border-radius: 5px;
}

.project-box h2{
    font-size: 20px;
    margin: 3%;
}
.project-box p{
    font-size: 10px;
    margin:3%
}
.work-inquiry-background{
clear:left;
margin-left: 15%;
margin-top: 70%;
width: 70%;
height: 400px;
background-image: url("images/inquirybanner.png");
background-repeat: no-repeat;
 background-size: contain;

}

.inquiry-box{
    margin:0%;
    padding:0%;
    width: 50%;
    float:left;
}
.inquiry-box h2{
    margin-left: 15%;
    color: white;
    font-size: 60px;
    text-align: center;

}
.inquiry-box a{

    float: right;
    margin: 17% 15% 0% 0%;
}
.education{
    
    margin-top: 3%;
    padding: 2%;
    width: 100%;
    float: left;
    clear: left;
    background-color: white;
    text-align: center;


}
footer {
    text-align: center;
   
    
}
h4{
    font-size: 15px;
    color: grey;
}
h5{
    font-size: 20px;
    color:black;


}
.image-icon{
    font-size: 10px;
}
