h1{
    
    font-size: 50px;
    padding-inline-end: 1%;
    margin-bottom:  2%;
}
h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
}
body{
    font-family: 'Poppins', sans-serif;

}
.name-highlight{
    color:lightcoral;
    padding-top: 0%;
}
.para-highlight{
    color: green;
}
.half-width{
width: 40%;
float: left;
 margin-left: 5%;
 padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( 45deg, lightcoral,rgb(146, 38, 19));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
}
.working-experience{
    margin-top: 3%;
   
    padding: 2%;
    width: 100%;
    float: left;
    clear: left;
    background-color: white;
    text-align: center;
    margin-bottom: 12%;
}
.project-box{
    width: 25%;
    float:left;
    padding: 2%;
    border-radius: 9px;
    border: 1px solid gray;
    margin-left: 3%;
}
.project-box img{
    width: 100%;
    border-radius: 5px;
}

.project-box h2{
    font-size: 20px;
    margin: 3%;
}
.project-box p{
    font-size: 10px;
    margin-bottom:3%;
    
}
.work-inquiry-background{
clear:left;
margin-left: 15%;
margin-top: 70%;
width: 70%;
height: 400px;
background-image: url("images/inquirybanner.png");
background-repeat: no-repeat;
 background-size: contain;

}

.inquiry-box{
    margin:0%;
    padding:0%;
    width: 50%;
    float:left;
}
.inquiry-box h2{
    margin-left: 15%;
    color: white;
    font-size: 60px;
    text-align: center;

}
.inquiry-box a{

    float: right;
    margin: 17% 15% 0% 0%;
}

.education-area{
    text-align: center;
    color: lightskyblue;
    margin-top: 2%;
   background-image: none;
    margin-bottom: 5%;
    padding-bottom: 2%;
}
   

.single-education {
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    margin-bottom: 5%;

}
#MSC{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato) ;
    border-image-slice: 1;
    background-color: white;
}
#BSC{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
footer {
    padding-top: 2%;
    margin-top: 10%;
    text-align: center;
   padding-bottom: 1%;
    
}
h4{
   padding-top:5% ;
    font-size: 15px;
    color: grey;
}
h5{
    font-size: 20px;
    color:black;


}

footer img{
    width: 4%;
}